body {
  font-family: "Inter", sans-serif;
  background: #fffbf5;
}

h1 {
  color: #3a4d39;
}

input {
  border-radius: 100px;
  padding: 8px 12px;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 600;
  border: 3px solid #3a4d39;
  margin: 0 12px;
  color: #3a4d39;
}

input:focus {
  outline: 5px solid #739072;
}

input[type="numeric"] {
  max-width: 40px;
  text-align: center;
}

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  max-width: 900px;
  overflow: hidden;
}

.headlines {
  margin-bottom: 48px;
}

.inputSection {
  margin-bottom: 48px;
}

.inputSection > div {
  margin-bottom: 22px;
}

.resultSection {
  box-sizing: border-box;
  background: #3a4d39;
  color: white;
  padding: 22px 38px;
  display: inline-block;
  width: 100%;
}

.strongHour {
  font-weight: 600;
}

.resultDescription {
  padding-top: 18px;
  font-style: italic;
  font-weight: 300;
}

p {
  margin: 16px;
}

h3 {
  font-weight: 600;
  padding: 0 0 12px 0;
  margin: 0;
  font-size: 18px;
}

.additionalInfo {
  font-weight: 600;
  padding-top: 12px;
}

@media screen and (max-width: 700px) {
  .calculator {
    position: relative;
    box-sizing: border-box;
    top: 0;
    left: 0;
    transform: translate(0, 0);
    padding: 12px;
  }
  .inputSection > * {
    display: flex;
    flex-direction: column;
    line-height: 58px;
  }
  input[type="numeric"] {
    margin: 0 auto;
    max-width: 100px;
  }
  input {
    padding: 22px 28px;
    -webkit-appearance: none;
  }
}
