body {
  --medium: #d9dccf;
  --dark: #aeb7ab;
  --light: #f1f1e9;
  --black: black;
  --white: #f8f8f8;
  --subtext: #1f1f1f;

  background: var(--white);
  color: var(--black);
}

* {
  font-family: "GT America", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.calculatorSection {
  background: var(--light);
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

label {
  padding-bottom: 6px;
}

.inputColumn {
  padding: 1.5rem;
  display: flex;
  width: 100%;
  gap: 2rem;
  width: 100%;
}

.extraInputsRow {
  padding: 1.5rem;
  display: flex;
  gap: 2rem;
}

input {
  font-size: 18px;
  font-weight: 400;
  width: 100%;
  padding: 14px 22px;
  border: 1px solid var(--medium);
  background: white;
}
input:focus {
  outline: 2px solid var(--dark);
}

.line {
  width: 100%;
  height: 1px;
  background: var(--medium);
}

.inputWithPrefix,
.inputWithSuffix {
  position: relative;
  display: inline-block;
  width: 100%;
}

/* Prefix inne i feltet (venstre) */
.inputPrefix {
  position: absolute;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Time-input får ekstra padding venstre så tekst ikke overlapper "kl." */
.timeInputWithPrefix {
  padding-left: 44px; /* juster etter font/size */
}

/* Suffix inne i feltet (høyre) */
.inputSuffix {
  position: absolute;
  left: 66px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
}

/* Nummer-input får ekstra padding høyre så tekst ikke overlapper "minutter" */

.calculator {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 700px;
  overflow: hidden;
}

.headlines {
  margin-bottom: 48px;
}

.resultSection {
  background: var(--medium);
  margin-top: 1.5rem;
}

.resultTable {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;
}

.resultTable .tableRow {
  display: flex;
  gap: 2rem;
  width: 100%;
  align-items: center;
  text-align: right;
  font-weight: 300;
  padding-bottom: 12px;
  border-bottom: 1px solid var(--dark);
}

.resultTable .tableRow:nth-child(1) {
  font-weight: 400;
}

.resultTable .tableRow .firstColumn {
  text-align: left;
}

.resultTable .tableRow > * {
  flex: 1;
}

h1 {
  font-weight: 300;
}

.roundingToggle {
  align-self: flex-end;
  font-weight: 300;
  font-size: 14px;
}

.roundingToggle > label {
  display: inline-flex;
  flex-direction: row;
  gap: 6px;
}

.roundingToggle > label > input {
  width: 16px;
  height: 16px;
  margin: 0;
}

.desktopColumn,
.grunnlagINT,
.grunnlagKRT {
  flex: 2 !important;
}

@media screen and (max-width: 700px) {
  .calculator {
    position: relative;
    top: 0;
    left: 0;
    padding: 12px;
    transform: translate(0);
  }
  .inputColumn {
    flex-direction: column;
  }
  .extraInputsRow {
    flex-direction: column;
  }
  .desktopColumn,
  .grunnlagKRT,
  .grunnlagINT {
    display: none;
  }
  input {
    width: 100%;
    display: flex;
  }
  .timeInputWithPrefix {
    padding-left: 0px; /* juster etter font/size */
    padding-right: 0px;
  }
  .inputPrefix {
    display: none;
  }
  .inputSuffix {
    right: 22px;
    left: initial;
  }
  .roundingToggle > label {
    gap: 8px;
  }
  input[type="checkbox"] {
    width: initial;
    height: initial;
    margin: initial;
    padding: initial;
    transform: scale(1.3);
  }
}
