/* === GT America Light (300) === */
@font-face {
  font-family: "GT America";
  src: url("./assets/fonts/GT-America-Standard-Light.woff2") format("woff2"),
    url("./assets/fonts/GT-America-Standard-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("./assets/fonts/GT-America-Standard-Light-Italic.woff2")
      format("woff2"),
    url("./assets/fonts/GT-America-Standard-Light-Italic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

/* === GT America Regular (400) === */
@font-face {
  font-family: "GT America";
  src: url("./assets/fonts/GT-America-Standard-Regular.woff2") format("woff2"),
    url("./assets/fonts/GT-America-Standard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("./assets/fonts/GT-America-Standard-Regular-Italic.woff2")
      format("woff2"),
    url("./assets/fonts/GT-America-Standard-Regular-Italic.woff") format("woff");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

/* === GT America Medium (500) === */
@font-face {
  font-family: "GT America";
  src: url("./assets/fonts/GT-America-Standard-Medium.woff2") format("woff2"),
    url("./assets/fonts/GT-America-Standard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GT America";
  src: url("./assets/fonts/GT-America-Standard-Medium-Italic.woff2")
      format("woff2"),
    url("./assets/fonts/GT-America-Standard-Medium-Italic.woff") format("woff");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

/* === GT America Expanded Medium (500, Expanded width) === */
/* If you want this to be automatically picked when using `font-stretch: expanded`,
   this must remain a separate rule with stretch defined. */
@font-face {
  font-family: "GT America";
  src: url("./assets/fonts/GT-America-Expanded-Medium.woff2") format("woff2"),
    url("./assets/fonts/GT-America-Expanded-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-stretch: expanded;
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
